

body {
 background-image: url(https://i.pinimg.com/originals/0a/3d/36/0a3d3605454833b136028f89115c9340.jpg); 
 background-size: 1070x 900px;
 background-repeat:no-repeat;
    
    font-family: sans-serif; 

}


#terminarSesión {
    float: right;
}
figure img {
    width: 50px;
    float: left;
 
   
     
}


